
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border-top: 12px #f8f9fa solid;
}

body.online {
  border-top: 12px #65b338 solid;
}

body.offline {
  border-top: 12px #b23838 solid;
}

#container {
  max-width: 400px;
  padding-top: 20px;
}

#saved ul .date {
  font-size: 0.8em;
  color: #444;
}

.clocks h3 {
  font-size: 18px;
  color: #888;
  margin: 0;
  padding: 0;
}

.clocks .time {
  font-size: 24px;
}

.time-container {
  margin: 14px 0;
}

.airplanetime-container {
  margin: 14px 0;
}

#airplane_time {
  background: #f2f2f2;
  text-align: center;
  font-size: 40px;
  padding: 9px 0;
}

#progressbar {
  height: 4px;
  background: #dedede;
}

#progress {
  height: 4px;
  background: #b5b5b5;
}
